*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,body{
  height: 100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #111;
  padding: 30px;
  gap: 30px;

}

.card{
  background-color: white;
  height: 300px;
  width: 250px;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  object-fit: cover;
}

.top button{
  display: flex;
  align-items: center;
  border:1px solid #dadada;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}


.center h3{

  font-size: 16px;
  font-weight: 400;
  padding-top: 15px;
}
.center span{

  font-size: 10px;
  font-weight: 500;
  padding-top: 15px;
  color: #b8b8b8;
}

.center h2{

  font-size: 18px;
  font-weight: 500;
  padding-bottom: 6px;
  padding-top: 4px
}

.center div{
  display: flex;
  gap: 5px;
}
.center div h4{
  background-color: #e9e7e7bc;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 2px;
  font-weight: 400;

}

.bottom{
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e8e8e88d;
  padding-top: 15px;
}

.bottom h2{
  font-size: 16px;
  font-weight: 500;
}
.bottom p{
  color: #b8b8b8;
  font-size: 8px;
}

.bottom button{
  display: flex;
  font-size: 12px;
  align-items: center;
  padding: 6px 12px;
  background-color: #131313;
  color: white;
  border-radius: 5px;
  border: none;
}
