@import "tailwindcss";
body{
  background-color: #121212;
  color:white;
}

h1{
  position: absolute;
  background-color: white;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 5px 10px;
  font-size: 50px;
  border-radius: 10px;
  text-transform: capitalize;
}


.notfound h1{
  color: red;
  font-weight: 800;
}