* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: #000;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  
  gap: 20px;
  
}
.card {

background-color: #222;
border: 1px solid white;
color:white;
width: 300px;
padding : 20px 20px;
text-align:center ;
border-radius: 20px ;
margin: 20px;
}

.card button{
margin-top: 20px;
padding: 10px 20px;
border-radius: 10px;
background-color: white;
border: none;
}

.card img{
  height: 120px;
  width: 120px;
  border-radius: 50% ;
  object-fit: cover;
}

.card p{
  margin: 10px;
}