#page1{
  height: 100vh;
  width: 100vh;
  background-color: royalblue;
}
#page2{
  height: 100vh;
  width: 100vh;
  background-color: pink;
}
#page3{
  height: 100vh;
  width: 100vh;
  background-color: rgb(65, 225, 105);
}

*{
  margin: 0%;
}



